@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
html{
    background-color: #F1F1F3;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 23px;
    align-items: center;
    width: 1545px;
    height: 96px;
}
.navbar h4{
    font-size: 30px;
    margin-left: -153px;
}
.btn{
    padding: 14px 29px;
    border-radius: 7px;
    border: 2px solid #006A50;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    color: #006A50;
    margin-right: -153px;
}

.home{
    background-color: #C6E4D6;
    height: 537px;
    width: 1228px;
    border-radius: 23px;
    margin: 0 auto;
    display: flex;
    padding: 76px 96px;
    align-items: center;
    gap: 61px;
}

.home-description{
    width: 597px;
    height: 312px;
    
    

}
.home-description h4{
    margin-bottom: 15px;
    font-size: 23px;
    color: #0E0E0E;
    opacity: 50%;
    
}
.home-description p{
    margin-bottom: 23px;
    font-size: 53px;
    font-weight: bold;
}
.home-img{
    width: 455px;
    height: 384px;
}
.home-btn{
    padding: 16px 32px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    background-color: #006A50;
    border-radius: 7px;
    border: none;
}
.pillars{
    margin: 0 auto;
    width: 1228px;
    height: 311px;
    
    margin-top: 72px;
}
.pillars h3{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}
.pillar-container{
    display: flex;
    gap: 23px;
}
.pillar{
    width: 298px;
    height: 240px;
    padding: 23px;
    background-color: white;
    border-radius: 15px;
}
.pillar img,h5,p{
    margin-bottom: 23px;
}
.visions{
    width: 1228px;
    height: 734px;
    margin: 80px auto 0;
    margin-bottom: 140px;
    
}
.visions h3{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 23px;
}
.visions p{
    font-size: 15px;
    margin-bottom: 30px;
    opacity: 70%;
    color: #0E0E0E;

}
.vision-container{
    display: flex;
    width: 1228px;
    height: 312px;
    gap: 23px;
    margin-bottom: 30px;
}
.vision{
    width: 393px;
    height: 312px;
    border-radius: 15px;
    padding: 30px;
    
}
.vision:first-child{
    background-color: rgba(84, 144, 245, 0.2); 

}
.vision:first-child button{
    background-color: #5490F5;
}
.vision:first-child button:hover{
    background-color: blue;
}
.vision:nth-child(2)
{
    background-color: #C6E4D6;
}
.vision:nth-child(2) button{
    background-color: #09A15C;
}
.vision:nth-child(2) button:hover{
    background-color:green ;
}
.vision:last-child{
    background-color: #F7EBCF;
}
.vision:last-child button{
    background-color: #FFC239;

    
}
.vision:last-child button:hover{
    background-color: yellow;
}
.vision p{
  color: #0E0E0E;
  opacity: 70%;
  margin-bottom: 23px;
 
}
.vision h5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 23px;
}
.vision img{
    margin-bottom: 23px;
}
.vision button{
    font-size: 15px;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 7px;
    color: white;
    border: none;
    

}
.quote{
    width: 1228px;
    height: auto;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position:24px 24px;
    background-color: white;
    padding: 40px 23px;
    border-radius: 15px;
}
.table-section{
    width: 1228px;
    height: 461px;
    margin: 0 auto;
}
.table-section h2{
    margin-bottom: 23px;
}
.table-section div{
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}
table{
    border-collapse: collapse;
    width: 100%;
    
}
td,th{
    border: 1px solid rgb(211, 211, 211);
    padding: 23px;
}
th{
    background-color: #C6E4D6;
     
    font-size: 19px;
    font-weight: 700; 
}
td{
    font-weight: 700;
    font-size: 15px;
}
.table-section button{
    padding: 12px;
    width: 60%;
    margin: auto;
    background-color: #C6E4D6;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500px;
    
}
#first{
    text-align: left;
}
#second{
    text-align: right;
}
.tdbutton{
    text-align: center;
    
}
.news{
    width: 1228px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 78px;
}
.news h2{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 23px;
}
.news p{
    font-size: 15px;
    opacity: 70%;
    color: #0E0E0E;
    
}

.news-container{
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 45px;
    border-radius: 23px;
}
.news-container img{
    border-radius: 23px;
}
.news-description h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 11px;
    color: #0E0E0E;
    opacity: 80%;
}
.news-description pre{
 font-size: 15px;
 opacity: 70%;
 margin-bottom: 11px;
}
.news-description img{
    margin-bottom: 11px;
    
}
.news-description p{
    opacity: 70%;
    font-size: 15px;
    margin-bottom: 30px;
}
.news-description button{
    font-size: 17px;
    padding: 12px 25px;
    background-color: #006A50;
    border-radius: 7px;
    border: none;
    color: white;
}
.news > div {
    margin-top: 76px;
}

.news-container{
    margin-bottom: 23px;
    
}
.donate-section{
    
    width: 1228px;
    height: auto;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 78px;
}
.donate-section h2{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 23px;
}
.donate-section p{
    color: #0E0E0E;
    opacity: 70%;
    text-align: center;
    font-size: 15px;
    text-indent: -5%;
    width: 80%;
   
   
    
}
.donatebox{
    font-size: 38px;
    font-weight: bold;
    height: 110px;
    width: 224px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(212, 208, 208);
    
}

.donatecontainer{
    display: flex;
    width: 1028px;
    gap: 23px;

    margin:30px auto;
    justify-content: center;
    align-items: center;
}
#donatebox2{
    background-color: #C6E4D6;
}
.donate-section input{
    width: 1000px;
    height: 60px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 20px;
    margin-bottom: 30px;
}
.donate-btn{
    font-size: 17px;
    padding: 16px 31px;
    background-color: #006A50;
    color: white;
    border-radius: 7px;
}

.subscribe{
    padding: 97px 79px;
    width: 1228px;
    background-color: #C6E4D6;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin-bottom: 78px;

}
.subscribe h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    
}
.subscribe p{
    color: #0E0E0E;
    opacity: 70%;
    text-align: center;
    font-size: 15px;
    text-indent: -5%;
    width: 60%;
    margin-bottom: 23px;
   

}

.subscribe input[type="email"]{
  width: 590px;
  height: 50px;
  padding-left: 40px;
  border-top-left-radius: 7px;  
  border-bottom-left-radius: 7px;
  border: none;
  
  
}
.subscribe label{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; 
    border: none;
    height: 50px;
    background-color: #006A50;
    color: white;
    padding: 16px 31px
    
    
    
}
.subscribe-input{
    display: flex;
    gap: 0;
    border-radius: 7px;
    margin-bottom: 23px;
    justify-content: center;
    align-items: center;
    
}
.subscribe span{
    color: #0E0E0E;
    opacity: 70%;
    text-align: center;
    font-size: 15px;
}
footer{
    width: 1536px;
    margin: 0 auto;
    padding: 48px;
    
}
footer h2{
    text-align: center;
    margin-bottom: 30px;
}
footer hr{
    margin-bottom: 32px;
    opacity: 10%;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    
}
button:hover{
    background-color: #09A15C;
}
label:hover{
    background-color: #09A15C;
}
button:active{
    transform: scale(1.2);
}




